body {
  background-color: $background-color;
  height: 100vh;
  font-family: 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

form,
input,
button {
  padding: 12px 20px;
  border: none;
  margin: 10px;
  box-shadow: 0 0 12px #ccc;
  border-radius: 12px;
}

button,
span {
  cursor: pointer;
  user-select: none;
}

form {
  margin: 40px;
  padding: 40px;
  background-color: #fcfcfc;
}

input {
  width: 50%;
}

button {
  background-color: $button-color;
  transition: 0.4s;
  &:hover {
    background-color: darken($button-color, 10%);
  }
}
