@media (max-width: 1420px) {
  h1 {
    font-size: 2.7rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  .container {
    width: 70%;

    form {
      margin: 30px;
    }
  }
}

@media (max-width: 940px) {
  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  .container {
    width: 80%;

    form {
      margin: 20px;
    }
  }
}
@media (max-width: 720px) {
  body {
    height: 90vh;
  }
  h1 {
    font-size: 1.9rem;
  }

  h2 {
    font-size: 1rem;
  }

  .container {
    width: 100%;

    form {
      margin: 15px;
    }
  }
}

@media (max-width: 440px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 0.9rem;
    padding: 18px;
  }
  form {
    margin: 5px;
    padding: 5px;
    font-size: 13px;
  }

  .toggle-password {
    font-size: 24px;
    right: 38px;
    top: 26px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  button {
    width: 90%;
    padding: 22px;
  }
  .label-input-container {
    flex-direction: column;
  }
  input {
    width: 90%;
  }
}

@media (max-width: 240px) {
  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 0.8rem;
  }
  form {
    margin: 5px;
    padding: 5px;
    font-size: 0.8rem;
    input {
      padding: 5px;
      font-size: 12px;
    }
  }

  button {
    font-size: 0.8rem;
  }

  .toggle-password {
    font-size: 20px;
    right: 18px;
    top: 6px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }
}
