.container {
  margin: 0 auto;
  width: 60%;
  min-width: 240px;
}

.label-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.toggle-password {
  font-size: 28px;
  position: absolute;
  right: 24px;
  top: 8px;
  &:hover {
    color: $primary-color;
  }
}

.hidden {
  display: none;
}

.success,
.error {
  padding: 20px;
  color: #fff;
  font-weight: bold;
  width: 50%;
  box-shadow: 0 0 12px #ccc;
  border-radius: 12px;
  margin: 0 auto;
}

.success {
  background-color: $success-color;
}

.error {
  background-color: $error-color;
}

.password-strength {
  display: none; /* Приховано за замовчуванням */
  margin: 12px 0 30px;
  line-height: 30px;
  height: 2px;
  border-radius: 4px;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.password-strength[data-strength='weak'] {
  width: 33%;
  background-color: $error-color;
}

.password-strength[data-strength='medium'] {
  width: 66%;
  background-color: $medium-color;
}

.password-strength[data-strength='strong'] {
  width: 100%;
  background-color: $success-colorn;
}
